*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;

}

.login-page, .users-data-page{
  width: 100vw;
  height: 100vh;
  background-color: rgb(160, 174, 170);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  overflow-y: scroll;
}

.login-form{
  display: flex;
  flex-direction: column;
}

.login-form > label{
  font-size: 1.3rem;
  font-weight: 600;
}

.login-form > input{
  height: 34px;
  min-width: 270px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  outline: none;
}

.login-form > input[type="submit"]{
  background-color: orangered;
  font-size: 1.2rem;
  color:white;
  padding: 0;
}

.login-form > input[type="submit"]:active{
  background-color: rgb(159, 42, 0);
}

.login-form-container{
  background-color: rgb(139, 139, 149);
  padding: 2.2rem;
  border-radius: 14px;
}

.users-card-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.users-data-title{
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(50, 50, 50);
}


.user-card-item{
  width: 100%;
  max-width: 80vw;
  padding: 4px;
  background-color: beige;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 16px;
  font-size: 1.3rem;
  align-items: center;
  border-left: 5px solid black;
  overflow: hidden;
}

.nav-btn{
  position: absolute;
  background-color: rgb(127, 127, 235);
  top: 0;
  right: 0;
  margin: 28px;
  padding: 12px;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

.nav-btn:hover{
  background-color: rgb(93, 93, 234);
}

.name-info{
  font-weight: 600;
}

.email-info{
  color: grey;
}

.contact-info{
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: end;
}
.contact-info > svg{
  height: 13px;
  padding: 2px;
  color: rgb(31, 65, 53);
}

.delete-btn{
  display: flex;
  align-items: center;
  justify-content: end;
}

.delete-btn > svg{
  height: 22px;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.delete-btn > svg:hover{
  background-color: black;
  color: white;
}